@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom utilities */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.card {
    @apply shadow-lg border rounded-xl;
}

.bnb-btn {
    @apply rounded text-white text-xs font-semibold;
    background: #FF5A5F;
}

.bg-red-bnb {
    background: #FF5A5F;
}

.text-small {
    font-size: 14px;
}

::-webkit-scrollbar {
    display: block;
    width: 4px;
}

div::-webkit-scrollbar {
    display: block;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full;
    @apply bg-red-bnb;
}

div::-webkit-scrollbar-thumb {
    @apply rounded-full;
    @apply bg-red-bnb;
}

.user-dropdown {
    @apply bg-red-400 absolute;
    z-index: 99;
    top: 10px;
}

/* transition */
.v-enter-active {
    transition: all 0.2s ease-out;
}

.v-leave-active {
    transition: all 0.1s cubic-bezier(1, 0.75, 0.8, 1);
}

.v-enter-from,
.v-leave-to {
    transform: translateX(30px);
    opacity: 0;
}